---
- name: Update/Upgrade Homebrew
  homebrew:
    update_homebrew: true
    # upgrade_all: true
  tags:
    - brew


- name: Manage taps
  homebrew_tap:
    name: "{{ item.key }}"
    state: "{{ item.value.state | default('present') }}"
  with_dict: "{{ taps | default({}) }}"
  tags:
    - brew


- name: Manage formula
  homebrew:
    name: "{{ item.key }}"
    install_options: "{{ item.value.options | default(omit) }}"
    state: "{{ item.value.state | default('present') }}"
  with_dict: "{{ formula | default({}) }}"
  tags:
    - brew


- name: Manage casks
  homebrew_cask:
    name: "{{ item.key }}"
    state: "{{ item.value.state | default('present') }}"
  with_dict: "{{ casks | default({}) }}"
  tags:
    - brew



# Not brew but don't have iterm automated yet
- name: Get iterm2 colors
  get_url:
    url: "https://raw.githubusercontent.com/mbadolato/iTerm2-Color-Schemes/master/schemes/Espresso.itermcolors"
    dest: "{{ ansible_env.HOME }}/Espresso.itermcolors"
    mode: "0664"
    checksum: "sha256:ee0defb5aeaf192233c56605f8cc2a2d91de2b0d5a07ea1212ce92e7d546f590"
  tags:
    - brew
